body {
  font-family: 'Raleway', sans-serif;
}
p { 
  font-size: 18px;
}
li { 
  font-size: 18px;
}
.viewport-height {
    height: 100vh;
    min-height: 100vh;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.backimg {
    background-image: url(../img/bg1.svg);
}

.bgcolor-tin {
    background-color: rgba(29, 36, 42, 0.9);
}

.bg {
    /* The image used */
    background-image: url("/img/bg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.tc-white {
    color: white;
}
hr.style1{
    border-top: 1px solid #000;
}
.margin50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.margintop50 {
    margin-top: 50px;
}
.marginbottom50 {
    margin-bottom: 50px;
}
.marginside10 {
    margin-right: 10px;
    margin-left: 10px;
}
.w100 {
    width: 100%;
}
.w100.is-vcentered {
    display: flex;
    flex-wrap: wrap;
    align-content: center; /* commenting this out, the multiple lines will have gaps */
    align-items: center; /* commenting this out, the one-line will not align */
}
.round-corner {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
